.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.products-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  min-height: 45px;
}

.card-text {
  font-size: 18px;
  font-weight: bold;
}

.card-body a {
  margin-top: 10px;
  text-align: left;
}

@media (min-width: 992px) {
  .col-lg-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }
}